{
  "extends": ["airbnb-base"],
  "parser": "babel-eslint",
  "rules": {
    "padded-blocks": 0,
    "space-before-function-paren": 0,
    "semi": 0,
    "indent": "off",
    "operator-linebreak": "off",
    "global-require": "off",
    "no-param-reassign": "off",
    "import/no-dynamic-require": "off"
  }
}
